@page
@model InuranceRazorPage.Pages.SystemAdmin.MyAccount.ChangePasswordModel
@{
    Layout = "_Form";
}

<div class="container">
    <div class="title">Change Password</div>
    <div class="content">
        <form method="post">
            <div class="user-details">
                <div class="input-box">
                    <label asp-for="OldPassword" class="details"></label>
                    <input type="password" asp-for="OldPassword" placeholder="Old Password" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="NewPassword" class="details"></label>
                    <input type="password" asp-for="NewPassword" placeholder="New Password" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="ConfirmNewPassword" class="details"></label>
                    <input type="password" asp-for="ConfirmNewPassword" placeholder="Confirm New Password" class="form-control" />
                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Change Password">
            </div>
        </form>
    </div>
</div>
@if (User.IsInRole("SystemAdmin"))
{
    <div>
        <a asp-page="/SystemAdmin/MyAccount/MyAccount">Go Back</a>
    </div>
}
@if (User.IsInRole("Manager"))
{
    <div>
        <a asp-page="/Manager/MyAccount/MyAccount">Go Back</a>
    </div>
}
@if (User.IsInRole("Clerk"))
{
    <div>
        <a asp-page="/Clerk/MyAccount/MyAccount">Go Back</a>
    </div>
}