@page
@model InuranceRazorPage.Pages.Manager.Enrollment.CreateModel
@{
    Layout = "_Form";
}

<div class="container">
    <div class="title">Register Account</div>
    <div class="content">
        <form method="post">
            <div class="user-details">
                @*<div class="input-box">
                    <label asp-for="AccountDto.Firstname" class="details"></label>
                    <input type="text" asp-for="AccountDto.Firstname" placeholder="Enter your Firstname" class="form-control" required />
                    <span asp-validation-for="AccountDto.Firstname" class="text-danger"></span>
                </div>


                <div class="input-box">
                    <label asp-for="AccountDto.Username" class="details"></label>
                    <input type="text" asp-for="AccountDto.Username" placeholder="Enter your Username" class="form-control" required />
                    <span asp-validation-for="AccountDto.Username" class="text-danger"></span>
                </div>*@
            </div>
            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./ManageAccounts">Go back</a>
</div>