@page
@model InuranceRazorPage.Pages.Manager.Enrollment.ManageEnrollmentModel
@{
    Layout = "_Dashboard";
}

<!-- top navigation bar -->
<partial name="_DashboardNavPartial"></partial>
<!-- top navigation bar -->
<!-- offcanvas -->
<partial name="_ManagerPartial"></partial>
<!-- offcanvas -->


<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>Manage enrollment</h4>
            </div>
        </div>
        <a asp-page="./create">
            <button type="button" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create Enrollment
            </button>
        </a>

        
    </div>
</main>