@page
@model InuranceRazorPage.Pages.Manager.Locations.DetailsModel
@{
    Layout = "_form";
}

<div class="col-lg-8" style="margin-top:100px">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Subcity Name</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.Location.Subcity.Name</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Woreda Range</p>
                </div>
                <div class="col-sm-9">
                    <p class="text-muted mb-0">@Model.Location.woreda</p>
                </div>
            </div>
        </div>
    </div>

</div>


<div>
    <a asp-page="./ManageLocations">Back to List</a>
</div>