@page
@model InuranceRazorPage.Pages.Manager.Locations.EditModel
@{
    Layout = "_Form";
}


<div class="container">
    <div class="title">Edit Location</div>
    <div class="content">
        <form method="post">
            <div class="user-details">
                <div class="input-box">
                    <label asp-for="Location.Subcity.Name" class="details"></label>
                    <input type="text" asp-for="Location.Subcity.Name" placeholder="Enter Location Name" class="form-control" required />
                    <span asp-validation-for="Location.Subcity.Name" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="Location.woreda" class="details"></label>
                    <input type="number" asp-for="Location.woreda" placeholder="Woreda Range" class="form-control" required />
                    <span asp-validation-for="Location.woreda" class="text-danger"></span>
                </div>
            </div>
            <div class="button">
                <input type="submit" value="Edit">
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./ManageLocations">Go back</a>
</div>