@page
@model InuranceRazorPage.Pages.Clerk.Customers.CreateOtherModel
@{
    Layout = "_form";
}

<div class="container">
    <div class="title">Register Customer</div>
    <div class="content">
        <form method="post">
            <div class="user-details">
                <div class="input-box">
                    <label asp-for="CustomerDto.Firstname" class="details"></label>
                    <input type="text" asp-for="CustomerDto.Firstname" placeholder="Enter your Firstname" class="form-control" required />
                    <span asp-validation-for="CustomerDto.Firstname" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="CustomerDto.Fathername" class="details"></label>
                    <input type="text" asp-for="CustomerDto.Fathername" placeholder="Enter your Fathername" class="form-control" required />
                    <span asp-validation-for="CustomerDto.Fathername" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="CustomerDto.Lastname" class="details"></label>
                    <input type="text" asp-for="CustomerDto.Lastname" placeholder="Enter your Lastname" class="form-control" required />
                    <span asp-validation-for="CustomerDto.Lastname" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="CustomerDto.Phone" class="details"></label>
                    <input type="text" asp-for="CustomerDto.Phone" placeholder="Enter your Phone" class="form-control" required />
                    <span asp-validation-for="CustomerDto.Phone" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <label asp-for="CustomerDto.Dob" class="details"></label>
                    <input type="date" asp-for="CustomerDto.Dob" placeholder="Enter your Birthdate" class="form-control" required />
                    <span asp-validation-for="CustomerDto.Dob" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <div class="gender-details">
                        <span class="gender-title">Gender</span>
                    </div>
                    <select name="CustomerDto.Gender" class="form-select">
                        <option value="">Gender</option>
                        @foreach (var item in Model.GenderOptions)
                        {
                            <option value="@item">@item</option>
                        }
                    </select>
                    <span asp-validation-for="CustomerDto.Gender" class="text-danger"></span>
                </div>




                <div class="input-box">
                    <div class="gender-details">
                        <span class="gender-title">Relation</span>
                    </div>
                    <select name="CustomerDto.Relation" class="form-select">
                        <option value="">Relation</option>
                        <option value="HouseHold">HouseHold</option>
                        <option value="Spouse">Spouse</option>
                        <option value="Son">Son</option>
                        <option value="Daughter">Daughter</option>
                        <option value="Other">Other</option>
                    </select>
                    <span asp-validation-for="CustomerDto.Relation" class="text-danger"></span>
                </div>
                <div class="input-box">
                    <div class="gender-details">
                        <span class="gender-title">Has Disablity</span>
                    </div>
                    <select name="CustomerDto.IsDisabled" class="form-select">
                        <option value="">Is Disabled?</option>
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                    <span asp-validation-for="CustomerDto.IsDisabled" class="text-danger"></span>
                </div>

            </div>


            <div class="button">
                <input type="submit" value="Register">
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-page="./ManageCustomers">Go back</a>
</div>

