@page
@model InuranceRazorPage.Pages.Clerk.Customers.ManageCustomersModel
@{
    Layout = "_Dashboard";
}


<!-- top navigation bar -->
<partial name="_DashboardNavPartial"></partial>
<!-- top navigation bar -->
<!-- offcanvas -->
<partial name="_ClerkPartial"></partial>
<!-- offcanvas -->
<main class="mt-5 pt-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h4>Manage Customers</h4>
            </div>
        </div>
        <a asp-page="./Create">
            <button type="button" class="btn btn-primary">Register Customer</button>
        </a>












    </div>
</main>