@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}


<div class="offcanvas offcanvas-start sidebar-nav bg-dark"
     tabindex="-1"
     id="sidebar">
    <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
            <ul class="navbar-nav">
                 <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">
                        CORE
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-link px-3 active">
                        <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                        <span>Admin Dashboard</span>
                    </a>
                </li> 
                <li >
                    <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                        Tasks
                    </div>
                </li>
                <li>
                    <a href="/SystemAdmin/Accounts/ManageAccounts" class="nav-link px-3">
                        <span class="me-2"><i class="bi bi-book-fill"></i></span>
                        <span>Manage User</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-3">
                        <span class="me-2"><i class="bi bi-book-fill"></i></span>
                        <span>Manage my Account</span>
                    </a>
                </li>

            </ul>
        </nav>
    </div>
</div>