.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}




@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}

.horizontal-timeline .items {
    border-top: 2px solid #ddd;
}

    .horizontal-timeline .items .items-list {
        position: relative;
        margin-right: 0;
    }

        .horizontal-timeline .items .items-list:before {
            content: "";
            position: absolute;
            height: 8px;
            width: 8px;
            border-radius: 50%;
            background-color: #ddd;
            top: 0;
            margin-top: -5px;
        }

    .horizontal-timeline .items .items-list {
        padding-top: 15px;
    }
