html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.blu-blu-gradient {
    background: linear-gradient(135deg, #71b7e6, #9b59b6) !important;
}