@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}


<div class="offcanvas offcanvas-start sidebar-nav " style="background: linear-gradient(135deg, #71b7e6, #9b59b6)"
     tabindex="-1"
     id="sidebar">
    <div class="offcanvas-body p-0">
        <nav class="navbar-dark">
            <ul class="navbar-nav">
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3">
                        CORE
                    </div>
                </li>
                <li>
                    <a href="#" class="nav-link px-3 active">
                        <span class="me-2"><i class="bi bi-speedometer2"></i></span>
                        <span>Manager Dashboard</span>
                    </a>
                </li>
                <li class="my-4"><hr class="dropdown-divider bg-light" /></li>
                <li>
                    <div class="text-muted small fw-bold text-uppercase px-3 mb-3">
                        Tasks
                    </div>
                </li>
                <li>
                    <a href="/Manager/Packages/ManagePackages" class="nav-link px-3 active">
                        <span class="me-2"><i class="bi bi-book-fill"></i></span>
                        <span>Define Package </span>
                    </a>
                </li>
                <li>
                    <a href="/Manager/Locations/ManageLocations" class="nav-link px-3 active">
                        <span class="me-2"><i class="bi bi-diagram-2"></i></span>
                        <span>Define Location</span>
                    </a>
                </li>
                               
                <li>
                    <a href="#" class="nav-link px-3 active">
                        <span class="me-2"><i class="bi bi-award"></i></span>
                        <span>Generate reports</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link px-3 active">
                        <span class="me-2"><i class="bi bi-book"></i></span> 
                        <span>Manage my Account</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>