@page
@model InuranceRazorPage.Pages.Manager.IndexModel
@{
    Layout = "_Dashboard";
}


    <!-- top navigation bar -->
<partial name="_DashboardNavPartial"></partial>
    <!-- top navigation bar -->
    <!-- offcanvas -->
<partial name="_ManagerPartial"></partial>
    <!-- offcanvas -->
    <main class="mt-5 pt-3">
    <partial name="_DashboardMainPartial"></partial> 
    </main>
