@page
@model InuranceRazorPage.Pages.ManagerAdminModel
@{
    Layout = "_admin";
}


    <!-- top navigation bar -->
<partial name="_DashboardNav"></partial>
    <!-- top navigation bar -->
    <!-- offcanvas -->
    <partial name="_Manager"></partial>
    <!-- offcanvas -->
    <main class="mt-5 pt-3">
    <partial name="_AdminMain"></partial>
    </main>


